<header>
    <div class="logo">
        <span class="material-icons logo-icon">science</span>
        <a href="/"><h1>DIF Labs</h1></a>
    </div>
    <nav class="nav-links">
        <a href="/about">About</a>
        <a href="/posts">Posts</a>
        <a href="/directory">Knowledge Pool</a>
        <a href="https://discord.gg/xnDAFnBS" target="_blank" rel="noopener noreferrer" title="Join our Discord">
            <img src="/imgs/discord-logo.svg" fill="#00ff00" alt="Discord" style="height: 24px;">
        </a>
        <a href="https://github.com/decentralized-identity/labs" target="_blank" rel="noopener noreferrer" title="Visit our GitHub">
            <img src="/imgs/github-logo.svg" fill="#00ff00" alt="GitHub" style="height: 24px;">
        </a>
    </nav>
    <button class="hamburger" aria-label="Toggle Navigation">
        <span></span>
        <span></span>
        <span></span>
    </button>


</header>
